
@import "header";
@import "footer";
@import "blocks/text-images/top-page-banner";

  
* {
    outline: none;
}

.container{
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1920px;  

  @media(max-width: $md) {
    padding: 0 30px;
  }
}


