body._active1 {
  overflow: hidden;
}

.site-header {
  width: 100%;
  background-color: #f1f6f8;

  .container {
    width: 100%;

    .container_line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 3;

      @media (max-width: $lg) {
        padding-top: 21px;
        padding-bottom: 16px;
      }
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;

    @media (max-width: $lg) {
      padding: 0;
      position: fixed;
      height: calc(100vh - 80px);
      right: -100%;
      top: 80px;
      z-index: 101;
      opacity: 0;
      width: 100%;
      transition: 0.25s;
      flex-direction: column;
    }
  }

  &__menu {
    flex: 1 1 auto;
    width: 100%;
    padding: 50px 0;

    @media (min-width: $lg) {
      width: auto;
      padding: 0;
    }

    ul.top-menu {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: center;
      gap: 53px;
      align-items: flex-start;

      @media (max-width: $xl) {
        gap: 26px;
      }

      @media (min-width: 1181px) {
        flex-direction: row;
        justify-content: flex-start;
      }

      > li {
        text-align: left;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        @media (min-width: 1181px) {
          flex-wrap: nowrap;
          margin-bottom: 0;
          text-align: inherit;
          border-bottom: none;
        }

        > a {
          text-decoration: none;
          font-size: 16px;
          line-height: 140%;
          transition: all 0.3s ease;
          position: relative;
          line-height: normal;
          letter-spacing: normal;
          color: $color__dark__30;
          font-weight: normal;

          &:hover {
            color: $color__dark;
            font-weight: 500;
          }
        }
      }

      li {
        &.menu-item-has-children {
          @media (min-width: $lg) {
            padding-right: 12px;
            position: relative;
          }

          .menu-item-has-children {
            cursor: pointer;

            &.active-sub {
              &:after {
                transform: rotate(180deg);
              }
            }

            &:after {
              top: 4px;
              cursor: pointer;
            }
          }
        }

        &.menu-item-has-children {
          &.active-sub {
            > .sub-menu {
              opacity: 1;
              max-height: 500px;
              display: block;
            }
          }
        }
      }

      > li.menu-item--opened {
        > a {
          padding: 8px 20px 22px;

          @media (min-width: $lg) {
            padding: 0 16px;
          }
        }

        .sub-menu {
          opacity: 1;
          max-height: 700px;
          transition: max-height 0.25s ease-in;
        }

        .caret__arrow {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      .sub-menu {
        list-style: none;
        display: none;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 100%;
        flex: 1 1 100%;
        gap: 20px;
        flex-direction: column;
        margin: 8px 0 0;
        padding: 18px 20px 20px;
        border-radius: 12px;
        border: solid 1px #e7e7e7;
        background-color: #fff;
        width: max-content;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: -18px;
          border: 10px solid transparent;
          border-top: 10px solid #fff;
          transform: rotate(180deg);
        }

        @media (max-width: $lg) {
          display: flex;
          flex-direction: column;
          position: static;
          background-color: transparent;
          border: none;
          margin-left: 30px;
          padding: 0;
        }

        .sub-menu {
          @media (min-width: $lg) {
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
          }
        }

        li {
          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 140%;
            transition: all 0.3s ease;
            position: relative;
            line-height: normal;
            letter-spacing: normal;
            color: $color__dark__30;
            font-weight: normal;

            &:hover {
              color: $color__dark;
              font-weight: 500;
            }
          }
        }

        @media (max-width: $lg) {
          .sub-menu {
            padding-left: 20px;
          }
        }
      }
    }
  }

  .logo_footer {
    padding: 20px 0;
    @media (max-width: $md) {
      width: 200px;
    }
    @media (max-width: $md) {
      width: 150px;
    }
  }
}

.site-header__menu ul.top-menu > li:hover > .sub-menu {
  @media (min-width: $lg) {
    display: flex;
  }
}

.site-header__menu ul.top-menu > .menu-item-has-children:hover {
  @media (min-width: $lg) {
    &:after {
      transform: rotate(180deg);
      transition: 0.3s ease;
    }
  }
}

.site-header__menu ul.top-menu li.menu-item-has-children li.menu-item-has-children > .sub-menu {
  min-width: 200px;
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

//------------------
.mobile-menu {
  display: none;
  align-items: center;
  z-index: 250;

  @media (max-width: $lg) {
    display: flex;
    margin-left: 75px;
  }

  @media (max-width: $sm) {
    margin-left: 0px;
  }

  div {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    cursor: pointer;
  }

  div:nth-child(1) {
    display: flex;
  }

  div:nth-child(2) {
    display: none;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.mobile-menu.active {
  div:nth-child(1) {
    display: none;
  }

  div:nth-child(2) {
    display: flex;
  }
}

.header__modal.active {
  .footer_menu_mob_wrap {
    display: block;
    height: 100vh;

    .top-menu {
      flex-direction: column;
    }

    .sub-menu li a {
      font-size: 24px;
      font-weight: 400;
      line-height: 140%;

      &:after {
        display: none;
      }
    }
  }

  .footer_menu {
    max-width: 100%;
  }
}

.header__modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: -100%;
  top: 0;
  transition: ease-in-out all 0.25s;
  background: #fff;

  @media (max-width: $lg) {
    display: block;
  }

  .header__menu {
    display: block;
    @media (max-width: $lg) {
      display: block;
    }

    ul {
      @media (max-width: $lg) {
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
      }
    }

    .nav-menu {
      @media (max-width: $lg) {
        padding: 20px;
      }

      a {
        line-height: 40px;
      }
    }
  }
}

.header__modal.active {
  left: 0%;
  @media (min-width: 1181px) {
    left: -100%;
  }
}

.header__modal {
  .accordion__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 24px 0;
  }

  .footer_menu + .footer_menu {
    margin-top: 0 !important;
  }
}

.site-header__menu {
  li {
    &.menu-item-has-children {
      padding-right: 6px;
      position: relative;

      .menu-item-has-children {
        cursor: pointer;
      }
    }
  }
}

.header__modal {
  z-index: 2;

  .footer_menu_mob_wrap {
    padding: 0 31px;
    margin: 70px 0;

    .menu-item-has-children_active {
      margin-bottom: 0;
    }
  }
}

.sub-menu_active {
  max-height: none !important;
  opacity: 1 !important;
}

.footer_menu_mob_wrap {
  .site-header__menu li.menu-item-has-children:after {
    top: 22px;
  }

  .site-header__menu {
    padding: 64px 0 32px 0;
  }

  .site-header__menu ul.top-menu .sub-menu li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 140%;
    transition: all 0.3s ease;
    position: relative;
    line-height: normal;
    letter-spacing: normal;
    color: $color__dark__30;
    font-weight: normal;

    &:hover {
      color: $color__dark;
      font-weight: 500;
    }
  }

  .site-header__menu ul.top-menu > li {
    padding: 0;
  }

  .site-header__menu ul.top-menu {
    gap: 24px;
  }
}

.logo_header {
  @media (max-width: $md) {
    width: 153.473px;
    height: 32px;
    flex-shrink: 0;
  }
}

.header__modal .sub-menu_active {
  margin-top: 16px !important;
}

.site-header__burger {
  display: block;
  position: relative;
  z-index: 120;
  width: 25px;
  height: 16px;
  cursor: pointer;
  @media (min-width: 1025px) {
    display: none;
  }
  span,
  &::before,
  &::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $color__accent;
  }
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  &._active span {
    transform: scale(0) translate(0, -50%);
    display: none;
    opacity: 0;
  }
  &._active::before {
    top: -3px;
    transform: rotate(-45deg) translate(-50%, 0);
    left: 12px;
  }
  &._active::after {
    transform: rotate(45deg) translate(-50%, 0);
    left: 12px;
    top: 15px;
  }
}
