body,
button,
input,
select,
optgroup,
textarea {
	color: $color__dark__50;
	font-family: $font__main;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: $font__line-height-body;
}  

@import "headings";
@import "copy";
